USE [master]
GO
/****** Object:  Database [UniTask]    Script Date: 4/26/2021 2:20:12 PM ******/
CREATE DATABASE [UniTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UniTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UniTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniTask]
GO
/****** Object:  Table [dbo].[Attender]    Script Date: 4/26/2021 2:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attender](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[mobilephone] [nvarchar](50) NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_Attender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conference]    Script Date: 4/26/2021 2:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conference](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[date_and_time] [datetime] NULL,
	[duration] [nchar](10) NULL,
 CONSTRAINT [PK_conference] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conference_attenders]    Script Date: 4/26/2021 2:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conference_attenders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conference_id] [int] NULL,
	[user_id] [int] NULL,
	[isAccepted] [bit] NULL,
 CONSTRAINT [PK_conference_attenders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conference_attenders]  WITH CHECK ADD  CONSTRAINT [FK_conference_attenders_Attender] FOREIGN KEY([user_id])
REFERENCES [dbo].[Attender] ([id])
GO
ALTER TABLE [dbo].[conference_attenders] CHECK CONSTRAINT [FK_conference_attenders_Attender]
GO
ALTER TABLE [dbo].[conference_attenders]  WITH CHECK ADD  CONSTRAINT [FK_conference_attenders_conference] FOREIGN KEY([conference_id])
REFERENCES [dbo].[conference] ([id])
GO
ALTER TABLE [dbo].[conference_attenders] CHECK CONSTRAINT [FK_conference_attenders_conference]
GO
USE [master]
GO
