@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is Esmaeil Varasteh's task for university of Tallinn</h1>
    <p class="lead">please select one of the menues</p>
</div>

<div class="row">
    
</div>